/* Global Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: darkorange;
  color: blue;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/*!* Top Bar *!*/

app-top-bar {
  height: 68px;
  background-color: blue;
  padding: 16px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

app-top-bar h1 {
  color: darkorange;
  margin: 0;
}

/*!* Footer Bar *!*/

app-footer-bar {
  height: 68px;
  background-color: blue;
  padding: 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

app-footer-bar h2 {
  color: darkorange;
}

